//Temple spire lighting animation

$temple-spire-color: linear-gradient(
  180deg, white 0%, #eed3de 40%, #dbc2cf 100%);

header::after {
  animation: lightup 15s linear infinite alternate;
}

@keyframes lightup {
  0% {
    background: linear-gradient(0deg, #f8f8f8 0%, #eed3de 100%);
  }
  12% {
    background: linear-gradient(0deg, #f8f8f8 0%, #eed3de 100%);
  }
  25% {
    background: linear-gradient(0deg, #f8f8f8 0%, #eed3de 100%);
  }
  45% {
    background: linear-gradient(0deg, #f7fc9b 1%, #eed3de 100%);
  }
  50% {
    background: linear-gradient(0deg, #f7fc9b 3%, #eed3de 100%);
  }
  65% {
    background: linear-gradient(0deg, #f7fd78 0%, #eed3de 100%);
  }
  75% {
    background: linear-gradient(0deg, #f7fd78 8%,#eed3de 100%);
  }
  85% {
    background: linear-gradient(0deg, #f7fd78 10%,#eed3de 100%);
  }
  100% {
    background: linear-gradient(0deg, #f7fd78 12%, #eed3de 100%);
  }
}

// Cloud Animations
@media only screen and (max-width: 46.7em){
    .summary p:last-of-type{
        &::after{
            overflow: hidden;
            animation: move-small 15s linear infinite;
        }
    }
    
    @keyframes move-small{
        0% {    transform: translateX(-50%);
                opacity: 100%;}
        25% {   opacity: 50%;}
        50% {   transform: translateX(300%);
                opacity: 100%;}
        75% {   opacity: 50%;}
        100%{   transform: translateX(-50%);
                opacity: 100%;}
    }
}


@media only screen and (min-width: 46.8em){
    .summary p:last-of-type{
        &::after{
            overflow: hidden;
            animation: move-large 25s linear infinite;
        }
    }
    
    @keyframes move-large{
        0% {    transform: translateX(-100%);
                opacity: 100%;}
        25% {   opacity: 50%;}
        50% {   transform: translateX(800%);
                opacity: 100%;}
        75% {   opacity: 50%;}
        100%{   transform: translateX(-100%);
                opacity: 100%;}
    }
}
