$temple-spire-color: linear-gradient(
  180deg, white 0%, #eed3de 40%, #dbc2cf 100%);

header::after {
  animation: lightup 3s linear infinite alternate-reverse;
}

@keyframes lightup {
  0% {
    background: linear-gradient(0deg, #fdf2f6 0%, #eed3de 100%);
  }
  12% {
    background: linear-gradient(0deg, #f8f8f8 0%, #eed3de 100%);
  }
  25% {
    background: linear-gradient(0deg, #fafcdf 0%, #eed3de 100%);
  }
  45% {
    background: linear-gradient(0deg, #fcffc1 5%, #eed3de 100%);
  }
  50% {
    background: linear-gradient(0deg, #fbffb6 2%, #eed3de 100%);
  }
  65% {
    background: linear-gradient(0deg, #f6fc8d 5%, #eed3de 100%);
  }
  75% {
    background: linear-gradient(0deg, #f7fd78 8%,#eed3de 100%);
  }
  85% {
    background: linear-gradient(0deg, #f7ff53 10%,#eed3de 100%);
  }
  100% {
    background: linear-gradient(0deg, #f7ff53 12%, #eed3de 100%);
  }
}