$white-gray : #f5f3f6;
$white: #ffffff;
$gray :#8182b1;
$black : #402633;//#060B23;
$yellow : #E5C559;
$gold: #C29C1E;
$blue: #C5D4FD; //rgba(197,212,253,1)
$lavender : #A0A1C5;//rgba(160,161,197,1)
$babypink: #DBC2CF; //rgba(238,211,222,1)
$sheer-background : rgba(255,255,255,0.28);
$link: #9a5a7b;

@mixin cloud {
    content: "";
    position: relative;
    display: block;
    background: #ffffff;
    width: 6rem;
    height: 2rem;
   border-radius: 50%;
}

.page-wrapper h3,p {
    color: $black;
}

.intro {
    background: rgb(238,211,222);
    background: linear-gradient(326deg, rgba(238,211,222,1) 1%, rgba(197,212,253,1) 24%, rgba(160,161,197,1) 100%); 
    opacity: 0.96;
}

header {
    padding-top: 2rem;
    & h1, & h2 {
        color: $white;
        //text-shadow: #FC0 1px 0 10px;
        text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
    }
}

header h2 {
    margin-bottom: 0;
}

header::after {
        content:'';
        display: block;
        width: 60px;
        height: 100px;
        margin: 0 auto;
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(238,211,222,1) 40%, rgba(219,194,207,1 ) 100%);
}

.summary {
    &::before {
        content:'';
        display: block;
        background: $white-gray;
        width: 100px;
        height: 150px;
        border-left: 40px solid $white;
        border-right: 40px solid $white;
        border-radius: 5% 5% 0 0;
        margin: 0 auto;
}
    & a {
        color: $gray;
    }
}

//lights
.summary p:first-of-type{
&::before {
    content:'';
    display: block;
    position: relative;
    width: 16px;
    height: 20px;
    box-shadow: 0 -9rem 3px 2px rgb(247, 234, 178),
    0 -6rem 3px 2px  rgb(248, 224, 115),
    0 -3rem 3px 2px rgb(244, 217, 96);
    margin: 0 auto;
}
//cloud1
&::after {
    @include cloud;
    float: right;
    box-shadow: 1rem -2.4rem 1px 16px $white, -3.5rem -1.5rem 0 8px $white;
    margin: 4rem;
    //box-shadow: 3rem -11.4rem 8px 20px $white, 6rem -9.5rem 8px 8px $swhite, 2rem -9rem 8px 12px $white, 
    //33rem -6.4rem 8px 20px #ffffff, 38rem -7.5rem 8px 10px #ffffff, 32rem -9rem 8px 12px #ffffff;
    }
}

.summary p:last-of-type {
    &::before {
    @include cloud;  
    box-shadow: 1rem 2.4rem 1px 16px $white, 3.5rem 1.5rem 0 8px $white;
    //box-shadow: 33rem -6.4rem 8px 20px #ffffff, 38rem -7.5rem 8px 10px #ffffff, 32rem -9rem 8px 12px #ffffff;
        }

//cloud2
&::after {
    content:'';
    display: block;
    position: relative;
    float: right;
    width: 16px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 8rem -6rem 0 28px $white,
    9rem -8.25rem 0 24px $white,
    10rem -5rem 0 26px $white,
    11rem -8rem 0 26px $white,
    13rem -6.5rem 0 28px $white;
}

}

.preamble {
    display: block;
    position: relative;
    z-index: 3;
    margin-bottom: 0;

&::before {
    content:'';
    display: block;
    position: absolute;
    top: 0;
    z-index: -2;
    background: $white-gray;
    width: 200px;
    height: 600px;  
}

//baloons
& h3::after {
    content:'';
    display: block;
    position: relative;
    width: 16px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 3rem -3rem 2px 12px $babypink,
    4rem -5rem 0px 20px rgb(238, 227, 181),
    6rem -3rem 0px 14px rgb(244, 217, 96);
    margin: 0 auto;
}
}

.summary p {
    color: $white;
}

#zen-supporting {
    background: rgb(238,211,222);
    background: linear-gradient(225deg, rgba(238,211,222,1) 0%, rgba(238,235,213,1) 18%, rgba(249,239,200,1) 100%);
}

.explanation {
    margin: 0  3%;
    background: $white-gray;
    padding: 50px;
    position: relative;
    z-index: 3;
    &::after {
        content:'';
        display: block;
        background: #f8dc5dd1;
    border: solid 10px#e5d4b3;
        position: relative;
        width: 150px;
        height: 100px;
        margin: 0 auto;
        margin-top: 2rem;
}
}


.participation {
background: $sheer-background;
//flowers
&::before {
    content: "";
    display: block;
    position: relative;
    margin: auto -8rem;
    overflow: hidden;
    width: 40px;
    height: 66px;
    border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
    box-shadow:  -43.2rem 5rem 0 2px #ff92be, -42.5rem 5.2rem 0 2px #fd83b4, -44rem 5.4rem 0 1px #fd83b4, 
    -50.8rem 1.2rem 0 0.2px #cddafd, -51.8rem 1.2rem 0 0.2px #c5d4fd, -50rem 1rem 0 0.2px #c5d4fd, 
    -56rem 10.4rem 0 2px #cddafd, -55.1rem 10.2rem 0 2px #c5d4fd, -57rem 10.4rem 0 2px #c5d4fd,
    -48rem 15.4rem 0 2px #f8dc5d, -48.8rem 15.2rem 0 1px #f4d960, -47rem 15rem 0 1px #f8dc5d, 
    -66rem 11.4rem 0 2px #f8dc5d, -66.8rem 11.2rem 0 1px #f4d960, -65rem 11rem 0 1px #f8dc5d, 
    -61.5rem 21.2rem 0 4px #ff92be, -60.3rem 21rem 0 4px #fd83b4, -62.5rem 21rem 0 4px #fd83b4, 
    -72.2rem 31rem 0 6px #f8dc5d, -73.5rem 31.2rem 0 4px #f4d960, -71rem 31.4rem 0 4px #f8dc5d;
}
/*
//leaves
&::after {
    content: "";
        display: block;
        position: relative;
        margin: auto -8rem;
        overflow: hidden;
        width: 22px;
        height: 88px;
        border-radius: 50%/60%;
        transform: rotate(-20deg);
    box-shadow: 1.5rem -10rem 0 2px darkcyan;
}
*/
& a {
    color: $gray;
}
}

//stems
.participation p:nth-of-type(3) {
    &::after {
    content: "";
    display: block;
    position: relative;
    overflow: hidden;
    width: 1px;
    height: 70px;
    border-radius: 5%;
    box-shadow: -19rem -31em 0 2px rgb(12, 126, 126),
     -11.5rem -27rem 0 2.5px rgb(1, 111, 117), 
     -15.9rem -16.6rem 0 3.5px rgb(0, 133, 115),
      -24.5rem -21.5rem 0 3px rgb(0, 131, 131),
       -34.5rem -20.5rem 0 3.5px rgb(0, 131, 131), 
       -29.5rem -10.5rem 0 4px darkcyan, 
       -40.5rem -0.7rem 0 4.5px darkcyan;
    }
}

.benefits {
    background: $white;
}

.requirements {
    background: $sheer-background;
    & a {
        text-decoration: none;
        color: $gray;
    }
}

.design-selection {
    background: $white;
    padding-top: .5em;
    border-top: solid 20px $yellow;
    border-bottom: solid 20px $yellow;
    border-right: solid 2px $yellow;
    border-left: solid 2px $yellow;

    &::before {
        content: 'RECOMMEND';
        display: block;
        text-align: center;
    }
    & h3 {
        display: none;
    }
    & a {
        color: #7C6313;
        margin: .2rem;
    }
    & a:hover {
        color: $gold;
    }
}

aside a{
    text-decoration: none;
}

footer a {
    font-size: 1.6em;
    text-decoration: none;
}
